@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@400;700&family=Nanum+Gothic:wght@400;700&display=swap');

html,
body {
  height: 100vh;
  width: 100vw;
  font-family: 'Encode Sans SC', sans-serif;
}

.calendar-screen {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.rbc-calendar {
  height: 100%;
}

/* Modal */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 1999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 760px;
  max-width: 500px;
  outline: none;
  padding: 10px;
}

.modal label {
  font-weight: bold;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

.modal-title {
  font-size: 2em;
  font-weight: bold;
}

.modal-header button {
  border-radius: 50%;
}

#popover-basic {
  z-index: 2000;
}

/*Calendar event*/
.user-name {
  text-transform: uppercase;
  font-weight: bold;
}
/* DatePicker */
.react-datetime-picker input:focus {
  outline: none;
}
.react-datetime-picker__wrapper {
  border: 0px solid gray !important;
}

/* FABS */
.fab {
  border-radius: 50%;
  bottom: 25px;
  font-size: 30px;
  position: fixed;
  right: 25px;
  z-index: 500;
}
.fab-danger {
  bottom: 25px;
  padding: 10px;
  position: fixed;
  left: 25px;
  z-index: 500;
}

/*Home*/

.home {
  width: 100%;
  height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.home-title,
.home-text,
.home-sub-title {
  text-align: center;
}

.home-sub-title {
  color: red;
}

.home-content {
  width: 90%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 10px;
}

.home-content ul {
  padding: 20px;
  margin: 0;
}

.home-content li {
  list-style: none;
  margin-bottom: 5px;
}
.home-content li:last-child {
  margin-bottom: unset;
}

.home-text {
  /* margin-top: 20px; */
  font-size: 18px;
}

.home-final-text {
  text-align: center;
  font-weight: bold;
}

.booking-button {
  width: 100%;
  margin: 20px 0;
}

/*Booking types*/

.booking-content {
  width: 250px;
  margin: 40px 20px;
}
.booking-item {
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-type {
  margin-left: 5px;
  width: 50px;
  height: 20px;
}

.total {
  background-color: #e74c3c;
}

.parcial {
  background-color: #edc308;
}

.principal {
  background-color: #086ded;
}

.casita {
  background-color: #808000;
}

.no-compartible {
  background-color: #d8ed08;
}

.reserva-light {
  background-color: #5dade2;
}

.show-booking {
  font-size: 14px;
  opacity: 0.6;
}
