.login-container {
  height: 100vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 100%;
  max-width: 550px;

  align-items: center;
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  padding: 5%;
}
.login-form h3,
.login-form h5 {
  text-align: center;
  color: #333;
}
.register-form {
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  padding: 5%;
}
.register-form h3 {
  text-align: center;
  color: #000;
}
.login-container form {
  padding: 10%;
}

.register-form .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
